absl-py
certifi
monai==1.4.0; platform_system == "Darwin" and platform_machine == "x86_64"
monai==1.6.0; platform_system != "Darwin" or platform_machine != "x86_64"
einops==0.8.2
pytest==9.1.1
nibabel
matplotlib
scikit-learn
tqdm
wandb
LTNtorch
